{% extends "base.html" %}

{% block content %}

<div>
  {{ section.content | safe }}
</div>

{% set cat_taxon = get_taxonomy(kind="categories") %}

<div>
  {% for cat_term in cat_taxon.items %}
    {% set cat_term_obj = get_taxonomy_term(kind="categories", term=cat_term.name) %}
    <div>
      <h1>{{cat_term.name | title}}</h1>
      {% for page in cat_term_obj.pages %}
        <span>
          <a href="{{ page.permalink | safe}}">{{page.date}} {{page.title}}</a>
        </span>
        <br>
      {% endfor %}
      <h6><a href="{{ cat_term.permalink }}">more...</a></h6>
    </div>
  {% endfor %}
</div>


{% endblock content %}

