{% extends "base.html" %}

{% block content %}
<div class="pb-10">
  {{ section.content | safe }}
</div>
<div class="grid">
  <div class="col-1">
    <!-- Blog posts -->
    <h1>Recent Blog Posts</h1>
    {% set blog_section = get_section(path='blog/_index.md') %}
    {% for section_page in blog_section.pages %}
      <span>
        <a href="{{ section_page.permalink | safe}}">{{ section_page.title}}</a>
      </span>
      <br>
    {% endfor %}
    <a href="{{ get_url(path='@/blog/_index.md') }}">see more...</a>
  </div>

  <!-- Projects -->
  <div class="col-2">
  <h1>Projects</h1>
  {% set project_section = get_section(path='projects/_index.md') %}
  {% for section_page in project_section.pages %}
    <span>
      <a href="{{ section_page.permalink | safe }}">{{ section_page.title }}</a>
    </span>
    <br>
  {% endfor %}
  <a href="{{ get_url(path='@/projects/_index.md') }}">more...</a>
  </div>

  <!-- Collections -->
  <div class="col-3">
  <h1>Creative Collections</h1>
  {% set creative_section = get_section(path='creative_collections/_index.md') %}
  {% for section_page in creative_section.pages %}
    <span>
      <a href="{{ section_page.permalink | safe }}">{{ section_page.title }}</a>
    </span>
    <br>
  {% endfor %}
  <a href="{{ get_url(path='@/creative_collections/_index.md') }}">more...</a>
  </div>

  <!-- Nightlife -->
  <div class="col-4">
  <h1>Nightlife</h1>
  {% set nightlife_section = get_section(path='nightlife/_index.md') %}
  {% for section_page in nightlife_section.pages %}
    <span>
      <a href="{{ section_page.permalink | safe }}">{{ section_page.title }}</a>
    </span>
    <br>
  {% endfor %}
  <a href="{{ get_url(path='@/nightlife/_index.md') }}">more...</a>
  </div>


</div>
{% endblock content %}
